<div class="main-form-container">
  <form class="form-container">
    <mat-form-field class="col-container post-input">
      <input [(ngModel)]="Post.content" matInput placeholder="Write something here..." name="post" required>
    </mat-form-field>
    <button class="col-container" mat-raised-button color="primary" (click)="onSubmit()">Post</button>
  </form>
</div>
<div class="timeline">
  <mat-list>
    <mat-list-item *ngFor="let post of posts" class="list-item">
      <mat-card class="post-card">
        <mat-card-header class="mat-header">
          <mat-card-title>
            <div class="title">
              <span class="name">
                <b>{{post.username}}</b>
              </span>
              <span class="date">
                {{post.age}}
              </span>
            </div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div>
            {{post.content}}
            <button mat-button class="button-comments" (click)="onCommentsClick(post)">{{post.comments.length}}
              Comments</button>
          </div>
          <div class="comments-section col-container">
            <mat-list>
              <div *ngIf="post.comments.length > 0 && post.open">
                <mat-list-item *ngFor="let comment of post.comments" class="comment-list-item">
                  <div class="col-container">
                    <div class="comment col-container">
                      <div class="comment-info row-container">
                        <div class="comment-name"><b>{{comment.username}}</b></div>
                        <div class="comment-content">{{comment.content}}</div>
                      </div>
                      <div class="comment-replies-button">
                        <button mat-button class="button-replies" (click)="onRepliesClick(comment,post)">{{comment.replies.length}}
                          Replies</button>
                      </div>
                    </div>
                    <div class="replies-section">
                      <mat-list>
                        <div *ngIf="comment.replies.length > 0 && comment.open">
                          <mat-list-item *ngFor="let reply of comment.replies" class="reply-list-item">
                            <div class="reply-info row-container">
                              <div class="reply-name"><b>{{reply.username}}</b></div>
                              <div class="reply-content">{{reply.content}}</div>
                            </div>
                          </mat-list-item>
                        </div>
                        <mat-form-field class="comment-reply-box">
                          <input [(ngModel)]="comment.newReply.content" matInput placeholder="Reply here..." [name]="comment._id">
                        </mat-form-field>
                        <button mat-icon-button (click)="onReplySubmit(post,comment)" matTooltip="save">
                          <mat-icon>save</mat-icon>
                        </button>
                      </mat-list>
                    </div>
                  </div>
                </mat-list-item>
              </div>
              <mat-form-field class="comment-reply-box">
                <input [(ngModel)]="post.newComment.content" matInput placeholder="Comment here..." [name]="post._id">
              </mat-form-field>
              <button mat-icon-button (click)="onCommentSubmit(post)" matTooltip="save">
                <mat-icon>save</mat-icon>
              </button>
            </mat-list>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-list-item>
  </mat-list>
</div>